html,
body {
  background-color: #161922;
  color: white;
}

input {
  color: white;
}

img {
  max-width: 64px;
  max-height: 64px;
  margin: auto;
}

.bin {
  display: grid;
  grid-gap: 5px;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(auto-fill, 64px);
  justify-content: center;
}

.keyboard-focused .collapsible .collapsible-header:focus {
  background-color: #5f7199b3;
}

.collapsible .collapsible-header {
  background-color: rgb(36, 40, 56);
}

.hidden {
  display: none;
}
